speechrecognition==3.10.0
pyttsx3==2.90
wikipedia==1.4.0
google-generativeai==0.3.0
python-dotenv==1.0.0
pyaudio==0.2.14
gtts==2.5.1
pywhatkit==5.4
transformers==4.57.3
# pydub==0.25.1
# comtypes==1.1.14


